<a href="https://colab.research.google.com/github/antonionipo/Big-Data/blob/main/Introducao%20PySpark/Escrita_de_dados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.11/dist-packages (3.5.4)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.11/dist-packages (from pyspark) (0.10.9.7)

In [3]:
from pyspark.sql import SparkSession

In [4]:
spark = SparkSession.builder.appName('Lendo CSV').getOrCreate()

In [5]:
caminho_csv = './base_de_dados.csv'

df = spark.read.csv(
    path=caminho_csv,
    header=True,
    sep=';'
    )

In [6]:
df.schema.fieldNames()

['id',
 'valor',
 'parte_debitada_nome',
 'parte_debitada_conta',
 'parte_debitada_banco',
 'parte_creditada_nome',
 'parte_creditada_conta',
 'parte_creditada_banco',
 'chave_pix_tipo',
 'chave_pix_valor',
 'data_transacao']

In [7]:
from pyspark.sql.types import StructType, StructField, StringType, IntegerType, TimestampType, DoubleType

In [8]:
schema_pix = StructType([
    StructField('id', IntegerType()),
    StructField('nome', StringType()),
    StructField('sobrenome', StringType()),
    StructField('email', StringType()),
    StructField('valor', DoubleType()),
    StructField('parte_debitada_nome', StringType()),
    StructField('parte_debitada_conta', StringType()),
    StructField('parte_debitada_banco', StringType()),
    StructField('parte_creditada_nome', StringType()),
    StructField('parte_creditada_conta', StringType()),
    StructField('parte_creditada_banco', StringType()),
    StructField('chave_pix_tipo', StringType()),
    StructField('chave_pix_valor', StringType()),
    StructField('data_transacao', TimestampType())
])

In [9]:
caminho_csv = './base_de_dados.csv'

df = spark.read.csv(
    path=caminho_csv,
    header=True,
    sep=';',
    schema=schema_pix
    )

In [10]:
df.printSchema()

root
 |-- id: integer (nullable = true)
 |-- nome: string (nullable = true)
 |-- sobrenome: string (nullable = true)
 |-- email: string (nullable = true)
 |-- valor: double (nullable = true)
 |-- parte_debitada_nome: string (nullable = true)
 |-- parte_debitada_conta: string (nullable = true)
 |-- parte_debitada_banco: string (nullable = true)
 |-- parte_creditada_nome: string (nullable = true)
 |-- parte_creditada_conta: string (nullable = true)
 |-- parte_creditada_banco: string (nullable = true)
 |-- chave_pix_tipo: string (nullable = true)
 |-- chave_pix_valor: string (nullable = true)
 |-- data_transacao: timestamp (nullable = true)

In [11]:
df.show()

+---+--------+--------------------+--------+-----+--------------------+--------------------+--------------------+--------------------+---------------------+---------------------+--------------+---------------+--------------+
| id|    nome|           sobrenome|   email|valor| parte_debitada_nome|parte_debitada_conta|parte_debitada_banco|parte_creditada_nome|parte_creditada_conta|parte_creditada_banco|chave_pix_tipo|chave_pix_valor|data_transacao|
+---+--------+--------------------+--------+-----+--------------------+--------------------+--------------------+--------------------+---------------------+---------------------+--------------+---------------+--------------+
|  1|    9.93|Dra. Ana Carolina...|79470453| NULL|       Maysa da Cruz|            67162333|                Itau|                 cpf|           8439752610|     18/02/2022 13:28|          NULL|           NULL|          NULL|
|  2|   15.38|        Ana Caldeira|19689668| NULL|        Evelyn Sales|            60005091|            Bradesco|                 cpf|          27145380617|     08/04/2022 01:47|          NULL|           NULL|          NULL|
|  3|   57.58|    Arthur Goncalves|18856899| NULL|          Maria Melo|            13496303|                 BTG|                 cpf|          16452937006|     14/07/2022 03:18|          NULL|           NULL|          NULL|
|  4|53705.13|  Ana Julia Caldeira|22834741| NULL|   Ana Livia Almeida|            44695116|              Nubank|                 cpf|          26590384142|     15/01/2022 18:06|          NULL|           NULL|          NULL|
|  5|25299.69|  Srta. Nicole Pinto| 3715882| NULL|Srta. Ana Laura d...|            21409465|              Nubank|                 cpf|          73486105280|     13/05/2022 11:04|          NULL|           NULL|          NULL|
|  6| 7165.06|   Gabriela Ferreira| 2243037| NULL|       Larissa Souza|            10689552|                Itau|                 cpf|          96845371237|     11/09/2022 13:38|          NULL|           NULL|          NULL|
|  7|    6.16|    Heloisa da Rocha|59778949| NULL|Dra. Vitoria Silv...|            56583792|              Nubank|                 cpf|          89064175357|     10/12/2021 12:37|          NULL|           NULL|          NULL|
|  8|  136.36|Srta. Isadora Cor...|77102442| NULL|  Francisco da Costa|            96088386|              Nubank|                 cpf|          85907632429|     30/12/2021 23:18|          NULL|           NULL|          NULL|
|  9|  574.39|   Dr. Lucas da Cruz|38501170| NULL|       Calebe da Luz|            19365554|            Bradesco|                 cpf|          64720189520|     21/06/2021 07:20|          NULL|           NULL|          NULL|
| 10|   42.88|     Mirella Martins|29535709| NULL|        Danilo Lopes|            60064650|                Itau|                 cpf|          87014935232|     21/09/2022 17:19|          NULL|           NULL|          NULL|
| 11|33629.97|Sr. Vitor Gabriel...|67010663| NULL|Sra. Lavinia Cald...|            48145941|              Nubank|                 cpf|          63542098124|     12/09/2022 00:29|          NULL|           NULL|          NULL|
| 12| 4374.56|      Nathan Peixoto|22975623| NULL|        Diogo da Luz|            30302218|            Bradesco|                 cpf|          72908154323|     07/08/2022 17:01|          NULL|           NULL|          NULL|
| 13|  507.18|       Miguel Araujo|75113657| NULL|Marcos Vinicius G...|            67418115|                Itau|                 cpf|          84763129031|     07/03/2021 12:34|          NULL|           NULL|          NULL|
| 14|67758.87|     Juliana Correia| 4495167| NULL|    Davi Lucas Porto|            94395923|                 BTG|                 cpf|          97804215649|     24/03/2021 22:58|          NULL|           NULL|          NULL|
| 15|  815.53|     Ana Laura Souza|79650252| NULL|        Isabel Costa|            28762988|                 BTG|                 cpf|          51824039689|     21/02/2022 11:25|          NULL|           NULL|          NULL|
| 16|    2.73|           Levi Lima|73815441| NULL|Dra. Maria Luiza ...|            96594203|            Bradesco|                 cpf|          94516738066|     20/07/2021 09:17|          NULL|           NULL|          NULL|
| 17|    0.54|        Otavio Cunha|85583961| NULL|       Elisa Moreira|            97003354|            Bradesco|                 cpf|          15248769094|     16/02/2022 10:16|          NULL|           NULL|          NULL|
| 18|49836.72|Ana Carolina Oliv...|80200942| NULL|    Stella Fernandes|            31579145|                 BTG|                 cpf|          47609381250|     18/07/2022 22:46|          NULL|           NULL|          NULL|
| 19|    9.68|        Levi Martins|12349481| NULL|Joao Guilherme Me...|            31102492|                 BTG|             celular|          11916824404|     26/02/2022 15:05|          NULL|           NULL|          NULL|
| 20| 9837.22|          Noah Cunha|84622162| NULL|         Juan Mendes|            97805965|            Bradesco|             celular|          11944547225|     22/06/2021 05:39|          NULL|           NULL|          NULL|
+---+--------+--------------------+--------+-----+--------------------+--------------------+--------------------+--------------------+---------------------+---------------------+--------------+---------------+--------------+
only showing top 20 rows

In [12]:
from os import times
caminho_csv = './base_de_dados.csv'

df = spark.read.csv(
    path=caminho_csv,
    header=True,
    sep=';',
    schema=schema_pix,
    timestampFormat='dd/MM/yyyy HH:mm'
    )

In [13]:
df.show()

+---+--------+--------------------+--------+-----+--------------------+--------------------+--------------------+--------------------+---------------------+---------------------+--------------+---------------+--------------+
| id|    nome|           sobrenome|   email|valor| parte_debitada_nome|parte_debitada_conta|parte_debitada_banco|parte_creditada_nome|parte_creditada_conta|parte_creditada_banco|chave_pix_tipo|chave_pix_valor|data_transacao|
+---+--------+--------------------+--------+-----+--------------------+--------------------+--------------------+--------------------+---------------------+---------------------+--------------+---------------+--------------+
|  1|    9.93|Dra. Ana Carolina...|79470453| NULL|       Maysa da Cruz|            67162333|                Itau|                 cpf|           8439752610|     18/02/2022 13:28|          NULL|           NULL|          NULL|
|  2|   15.38|        Ana Caldeira|19689668| NULL|        Evelyn Sales|            60005091|            Bradesco|                 cpf|          27145380617|     08/04/2022 01:47|          NULL|           NULL|          NULL|
|  3|   57.58|    Arthur Goncalves|18856899| NULL|          Maria Melo|            13496303|                 BTG|                 cpf|          16452937006|     14/07/2022 03:18|          NULL|           NULL|          NULL|
|  4|53705.13|  Ana Julia Caldeira|22834741| NULL|   Ana Livia Almeida|            44695116|              Nubank|                 cpf|          26590384142|     15/01/2022 18:06|          NULL|           NULL|          NULL|
|  5|25299.69|  Srta. Nicole Pinto| 3715882| NULL|Srta. Ana Laura d...|            21409465|              Nubank|                 cpf|          73486105280|     13/05/2022 11:04|          NULL|           NULL|          NULL|
|  6| 7165.06|   Gabriela Ferreira| 2243037| NULL|       Larissa Souza|            10689552|                Itau|                 cpf|          96845371237|     11/09/2022 13:38|          NULL|           NULL|          NULL|
|  7|    6.16|    Heloisa da Rocha|59778949| NULL|Dra. Vitoria Silv...|            56583792|              Nubank|                 cpf|          89064175357|     10/12/2021 12:37|          NULL|           NULL|          NULL|
|  8|  136.36|Srta. Isadora Cor...|77102442| NULL|  Francisco da Costa|            96088386|              Nubank|                 cpf|          85907632429|     30/12/2021 23:18|          NULL|           NULL|          NULL|
|  9|  574.39|   Dr. Lucas da Cruz|38501170| NULL|       Calebe da Luz|            19365554|            Bradesco|                 cpf|          64720189520|     21/06/2021 07:20|          NULL|           NULL|          NULL|
| 10|   42.88|     Mirella Martins|29535709| NULL|        Danilo Lopes|            60064650|                Itau|                 cpf|          87014935232|     21/09/2022 17:19|          NULL|           NULL|          NULL|
| 11|33629.97|Sr. Vitor Gabriel...|67010663| NULL|Sra. Lavinia Cald...|            48145941|              Nubank|                 cpf|          63542098124|     12/09/2022 00:29|          NULL|           NULL|          NULL|
| 12| 4374.56|      Nathan Peixoto|22975623| NULL|        Diogo da Luz|            30302218|            Bradesco|                 cpf|          72908154323|     07/08/2022 17:01|          NULL|           NULL|          NULL|
| 13|  507.18|       Miguel Araujo|75113657| NULL|Marcos Vinicius G...|            67418115|                Itau|                 cpf|          84763129031|     07/03/2021 12:34|          NULL|           NULL|          NULL|
| 14|67758.87|     Juliana Correia| 4495167| NULL|    Davi Lucas Porto|            94395923|                 BTG|                 cpf|          97804215649|     24/03/2021 22:58|          NULL|           NULL|          NULL|
| 15|  815.53|     Ana Laura Souza|79650252| NULL|        Isabel Costa|            28762988|                 BTG|                 cpf|          51824039689|     21/02/2022 11:25|          NULL|           NULL|          NULL|
| 16|    2.73|           Levi Lima|73815441| NULL|Dra. Maria Luiza ...|            96594203|            Bradesco|                 cpf|          94516738066|     20/07/2021 09:17|          NULL|           NULL|          NULL|
| 17|    0.54|        Otavio Cunha|85583961| NULL|       Elisa Moreira|            97003354|            Bradesco|                 cpf|          15248769094|     16/02/2022 10:16|          NULL|           NULL|          NULL|
| 18|49836.72|Ana Carolina Oliv...|80200942| NULL|    Stella Fernandes|            31579145|                 BTG|                 cpf|          47609381250|     18/07/2022 22:46|          NULL|           NULL|          NULL|
| 19|    9.68|        Levi Martins|12349481| NULL|Joao Guilherme Me...|            31102492|                 BTG|             celular|          11916824404|     26/02/2022 15:05|          NULL|           NULL|          NULL|
| 20| 9837.22|          Noah Cunha|84622162| NULL|         Juan Mendes|            97805965|            Bradesco|             celular|          11944547225|     22/06/2021 05:39|          NULL|           NULL|          NULL|
+---+--------+--------------------+--------+-----+--------------------+--------------------+--------------------+--------------------+---------------------+---------------------+--------------+---------------+--------------+
only showing top 20 rows

In [14]:
df_not_null = df.na.fill(0, subset=['valor'])

In [16]:
df_2022 = df_not_null.filter((df_not_null.data_transacao >= '2022-01-01') & (df_not_null.data_transacao <= '2022-12-31'))

In [17]:
df_2022.write.parquet('output/df_2022')